#map {
    height: 98vh;
}

#LTE {
    position: absolute;
    top: 3px;
    left: -4px;
    background-color: rgb(253, 229, 8);
    width: 6px;
    height: 12px;
}

#WAN {
    position: absolute;
    top: 23px;
    left: -4px;
    background-color: rgb(74, 247, 6);
    width: 6px;
    height: 12px;
}

#Offline {
    position: absolute;
    top: 43px;
    left: -4px;
    background-color: rgb(223, 15, 0);
    width: 6px;
    height: 12px;
}

.green-pin {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: 115px;
    border-radius: 50%;
    border: 8px solid rgb(74, 247, 6);
    background-color: rgb(47, 129, 0);
    width: 8px;
    height: 8px;
    box-shadow: 5px 10px 8px #888888;
}

.green-pin::after {
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    bottom: -31px;
    left: -4px;
    border: 10px solid transparent;
    border-top: 17px solid rgb(74, 247, 6);
}

.yellow-pin {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: 115px;
    border-radius: 50%;
    border: 8px solid rgb(253, 229, 8);
    background-color: rgb(127, 129, 0);
    width: 8px;
    height: 8px;
    box-shadow: 5px 10px 8px #888888;
}

.yellow-pin::after {
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    bottom: -31px;
    left: -4px;
    border: 10px solid transparent;
    border-top: 17px solid rgb(253, 229, 8);
}

.red-pin {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: 115px;
    border-radius: 50%;
    border: 8px solid rgb(223, 15, 0);
    background-color: rgb(109, 3, 3);
    width: 8px;
    height: 8px;
    box-shadow: 5px 10px 8px #888888;
}

.red-pin::after {
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    bottom: -31px;
    left: -4px;
    border: 10px solid transparent;
    border-top: 17px solid rgb(223, 15, 0);
}